<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Part 5</title>
    <script src="../../vue3.js"></script>
</head>
<body>
<div id="app">
    <input type="text" id="user" v-model="user" />
    <button type="button" @click="addUser">Add user</button>
    <hr>
    <p v-if="users.length === 0">No user found...</p>
    <ul v-else>
        <li v-for="(user, index) in users">
            {{ user }} - {{ index }}
        </li>
    </ul>
    <ul>
        <li v-for="(test, key) in tests">
            {{ key }} : {{ test }}
        </li>
    </ul>
    <ul>
        <li v-for="number in 10">
            {{ number }}
        </li>
    </ul>
</div>
<script src="./index.js"></script>
</body>
</html>